<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457954443778-i9b4a5pntlerutnvv3684ua7gdotodhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457954443778-i9b4a5pntlerutnvv3684ua7gdotodhl</string>
	<key>API_KEY</key>
	<string>AIzaSyB1ebN4Pj2nEDZEj2Z-nyzOluSeUf_dRM4</string>
	<key>GCM_SENDER_ID</key>
	<string>457954443778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shop</string>
	<key>PROJECT_ID</key>
	<string>shop-flutter-9b122</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-flutter-9b122.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457954443778:ios:a9248e3122ed71d6239d1b</string>
	<key>DATABASE_URL</key>
	<string>https://shop-flutter-9b122-default-rtdb.firebaseio.com</string>
</dict>
</plist>